/* Общие стили для body */

body {
            font-family: Arial, sans-serif;
			background: linear-gradient(to right, #7dffe536, #aceaed);
        }
		
/* Основной контент */

#content-container {
    margin-top: 60px; /* Отступ для шторки */
}

.content {
    display: none;
}

.content.active {
    display: block;
}		

/* Стили для табов */
		
#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #0d66c1, #2c3e50);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.tab {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    color: #ecf0f1;
    font-family: Arial, sans-serif;
    font-size: 14px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.tab:hover {
    background-color: #d7d7d75c; 
	border-radius: 4px;
}

.tab-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.tab-separator {
    width: 1px;
    height: 20px;
    background-color: #4a5a6b; 
    margin: 0 10px;
}

.tab.active {
    background: linear-gradient(to bottom, #618cff, #0040ff);
    color: white;
    border-radius: 4px;
}		

/* Стили для второго топ-бара */

#second-top-bar {
    display: flex;
    align-items: center;
    background-color: #34495e;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: sticky; 
    top: 60px;
    z-index: 1000; 
    opacity: 1;
    transition: opacity 0.3s ease, display 0.3s ease; 
}

#second-top-bar button {
    background: linear-gradient(to bottom, #5cbeef, #4693bb);
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;

}

#second-top-bar button:hover {
    background: #4a7f9b;
}

.title-top-bar {
	
    margin-left: 5px; 
    font-family: Arial, sans-serif;
    color: #ffffff; 
}
				
/* Кнопки */			
		
.button-all {
    background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: inset 0 1px 0 #ffffff;
}

.button-add-colum-image {
        width: 9%;
    }

.button-all:hover {
    background: #dddddd;
    border-color: #555555;
}


.image-block-controls { /* кнопки влево-вправо удалить */
    position: absolute;
    top: 10px;
    right: 10px;    
    display: flex;
    gap: 5px;
}

.image-block-controls button {
    background: linear-gradient(to bottom, #ffffff, #ebebeb);
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
	font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 8px;
	transition: all 0.1s;
    box-shadow: inset 0 1px 0 #ffffff;
}

.image-block-controls button:hover {
    background: #d7d5d5;
    border-color: #999;
}

.image-block-controls .delete-btn {
    color: red;
}

.image-block-controls .move-left,
.image-block-controls .move-right {
    color: #333;
}

.text-controls button {
            margin-right: 5px;
        }
			
.block-control-btn {
    width: 22px;
    height: 22px;
    background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
    border-radius: 3px;
    border: 1px solid #7f7f7f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: all 0.1s;
    box-shadow: inset 0 1px 0 #ffffff;
}

.block-control-btn:hover {
    background: #b9b9b9;
    border-color: #555555;
}

.control-icon {
    width: 12px;
    height: 12px;
    object-fit: contain;
}

			
/* Стили для модальных окон и оверлеев */
		
.modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            width: 700px;
        }
		
.modal img {
            max-width: 100%;
            margin-top: 10px;
            border: 1px solid #ddd;
			border-radius: 8px;
            padding: 5px;
            background-color: #f9f9f9;
			margin-bottom: 15px;
        }		
		
.overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

#block-type { 
            width: 50%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
}
		
.image-preview-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}		
		
.image-preview-modal img {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    margin: 0 auto;
	margin-bottom: 15px;
}

.image-preview-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* iframe для предпросмотра */
#preview-iframe {
    width: 100%;
    height: calc(100vh - 60px);
    border: none;
	background-color: white;
	
}

#preview-mob-iframe {
    width: 400px;
	height: calc(97vh - 50px);
            margin: 0;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}	
	

/* Стили для блоков */
		

.block {
    border: 3px solid #34495e;
    border-radius: 8px;
    padding: 0; /* Убираем общий padding */
    margin-bottom: 10px;
    position: relative;
    background: linear-gradient(to right, #f9f9f9, #e3e3e3ad);
    width: 90%;
    overflow: hidden; /* Чтобы скругленные углы работали правильно */
}

		
/* Стиль верхней панели блока в стиле Windows XP */
.block-top-container {
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    border-bottom: 1px solid #a0a0a0;
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    box-shadow: inset 0 1px 0 #ffffff;
    position: relative;
    margin: 0; /* Убираем все отступы */
    width: 100%; /* Занимает всю ширину */
}

/* Основное содержимое блока */
.block-content {
    padding: 10px; /* Отступ от верхней панели до контента */
}

/* Остальные стили остаются без изменений */
.block-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.block-number {
    width: 16px;
    height: 16px;
    background: linear-gradient(to bottom, #6d9eeb, #3c78d8);
    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #2b5db5;
    box-shadow: inset 0 1px 0 #8ab3f3;
}

.block-title {
    font-size: 14px;
    font-weight: bold;
}

.block-controls {
    display: flex;
    gap: 3px;
    align-items: center;
    height: 100%;
	margin-right: 10px;
}


		
.h3-generated-description { 
             margin-top: 10px;
        }		

#generated-description {
            white-space: pre-wrap;
            font-family: monospace;
            background-color: #f9f9f9;
            padding: 10px;
            border: 1px solid #ccc;
            margin-top: 5px;
			width: 90%;
        }
			

/* Стили для блока текст */

.text-block {
	        margin-top: 10px;
            width: 800px;
			min-height: 180px;
			display: block;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
			max-width: 1200px;
			min-width:300px;
			}

		
/* Стили для блока картинки в ряд */

.row-gallery {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
        }
		
 .row-gallery .image-block {
            border: 2px solid #00000060;
			border-radius: 8px;
            padding: 10px;
            background-color: #fff;
            position: relative;
			margin-bottom: 10px;
            width: 14%;
			padding-top: 30px;
        }
		
.row-gallery .image-block input,
.row-gallery .image-block textarea {
            display: block;
            width: 93%;
            margin-bottom: 5px;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
		
.row-gallery textarea {
    resize: vertical;
    min-height: 80px;
}		

.row-gallery .image-block .url-container {
    margin-top: 10px;
}
		
		
/* Стили для блока картинки в слева/справа */

.column-gallery-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column-item {
    border: 2px solid #00000060;
	border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 10px;
}

.column-item .left-column,
.column-item .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
	margin-top: 25px;
    order: 1; 
}

.column-item input,
.column-item textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.column-item select {
    padding: 7.2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.column-item textarea {
    resize: vertical;
    min-height: 265px;
}		
		

/* Стили для блока картинка во всю ширину */
.single-media-block {
    display: flex;
    gap: 10px;
}

.single-media-block .left-column,
.single-media-block .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 50%;
}

.single-media-block input,
.single-media-block textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.single-media-block select {
    padding: 7.2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.single-media-block textarea {
    resize: vertical;
    min-height: 265px;
}

.url-container {
    position: relative;
    width: 100%;
}

.url-container input[type="text"],
.url-container input[type="url"] {
    width: 100%;
    box-sizing: border-box;
}


/* Превью картинки по урлу */

.media-controls-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.new-container {
    display: flex;
    flex-direction: column;
}

.width-and-checkbox-container {
    display: flex;
    align-items: center; /* Выравнивание по центру */
    gap: 10px; /* Отступ между полем ширины и чекбоксом */
}

.width-and-checkbox-container label {
    font-size: 13px; /* Размер шрифта */
    color: #333; /* Цвет текста (опционально) */
    font-family: Arial, sans-serif; /* Шрифт (опционально) */
	 align-items: center;
}

.width-container input {
    width: 190px; /* Ширина поля ввода */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox {
    margin: 0;
}

.image-preview-container {
    position: relative;
    width: 233px;
    height: 233px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    overflow: hidden;
}

.image-preview-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
}

.image-preview-container:hover::after {
    background-color: rgba(0, 0, 0, 0.3);
}

.image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 4px;
}

.image-size {
    font-size: 12px;
    color: #666;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 2px;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.required-placeholder::placeholder {
    color: red;
}